body{

font-family:Arial;

background:
linear-gradient(
135deg,
#0f2027,
#203a43,
#2c5364
);

color:white;

text-align:center;

}


h1{

color:#f9e79f;

}


.card{

background:white;

color:black;

width:85%;

margin:30px auto;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px #000;

}



.players{

display:flex;

justify-content:center;

gap:50px;

}



.players div{

width:40%;

background:#f4f6f7;

padding:20px;

border-radius:15px;

}



button{

padding:12px;

margin:5px;

border-radius:10px;

background:#145a32;

color:white;

cursor:pointer;

}



button:hover{

background:#27ae60;

}


#marketText{

text-align:left;

line-height:1.8;

font-size:18px;

}


.hidden{

display:none;

}



input{

padding:12px;

font-size:18px;

border-radius:8px;

border:1px solid #aaa;

}

